<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<hr>

<strong>Future events</strong><br>
  <% @future.each do |event| %>
    <p>
      <strong>Scheduled:</strong>
      <%= event.date %>,
      <strong>Name:</strong>
      <%= event.name %>
    </p>
  <% end %>

<strong>Past events</strong><br>
  <% @past.each do |event| %>
    <p>
      <strong>Due:</strong>
      <%= event.date %>,
      <strong>Name:</strong>
      <%= event.name %>
    </p>
  <% end %>

<hr>

<% @user.invitations.each do |invitation| %>
  <p>
    <strong>Event to attend:</strong>
    <%= invitation.attended_event.name %>
  </p>
<% end %>
